.info-container{
    position: relative;
    background-color: #333;
    width: 200px;
}
.info-container img{
    width: 200px;
    height: 200px;
}
.info-container img,
.info-container .icon{
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.info-tooltip{
    position: absolute;
    top: 100%;
    transform: translateX(-0%);
    padding: 10px;
    background-color: #333;
    color: #fff;
    opacity: 1;
    transition:  opacity 0.2s ease-in-out;
    visibility: hidden;
}
.info-container:hover .info-tooltip,
.info-container:focus .info-tooltip{
    opacity: 1;
    visibility: visible;
}

svg{
    margin-top: 10px;
    color: #ee0d0d;
    width: 200px;
    height: 200px;
}
.path-animation{
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    animation: pathMorph 5s ease-in-out forwards;
}
/*@keyframes pathMorph {
    from {
      d: M0,0 L50,50 L100,0 Z;  /* Path data for path1 
    }
    to {
      d: M0,0 C50,80 100,20 100,20 Z;  /* Path data for path2 /
    }
  }

@keyframes pathMorph{
    from{
        d: path(#path1);
    }
    to{
        d: path(#path2);
    }
}*/